.container{
  text-transform: capitalize;
  text-align: center;
  padding-top: 70px;
}
.title{
  margin-bottom: 80px;
}
label{
  font-weight: normal;
  color: rgb(66, 66, 66);
  padding: 10px;
}
label a{
  text-decoration: none;
  color: rgb(197, 95, 95);
}
.iden{
  background-image: url('../../assets/images/spinner.gif');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 45px;
  padding-left: 50px;
}
.videoprev{
  width: 150px;
  height: 110px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 10px;
}
.cover{
  background-color: rgba(255, 255, 255, 0.37);
  width: 150px;
  height: 110px;
  text-align: center;
  visibility: hidden;
  transition: 0.5s;
}
.cover button{
  border: none;
  outline: none;
  font-size: 200%;
  color: red;
  margin: 15px;
  background-color: transparent;
}

.videoprev:hover .cover{
  visibility: visible;
}

.btn-send{
  background-color: rgb(231, 107, 107);
}
.success{
  background-color: rgb(53, 175, 53);
  color: white;
  padding: 25px;
}
