<header id="header">
	<a href="javascript:void(0)" [routerLink]="['/']" class="logo"><img src="assets/images/tubelogo.png"></a>
		<ul>
			<li><a href="javascript:void(0)" [routerLink]="['registrazione-studente']">Sono uno Studente</a></li>
			<li><a href="javascript:void(0)" [routerLink]="['invia-video']">Sono un Content Creator</a></li>
			<li><a href="javascript:void(0)" [routerLink]="['assistenza']">Assistenza</a></li>
			<li><a href="javascript:void(0)" [routerLink]="['login']">Accedi</a></li>
		</ul>
</header>
<div class="content">
	<router-outlet></router-outlet>
</div>
<footer>
	Copyright &copy; 2020 TubeStudents - Powered by <a target="_blank" href="https://www.unidea.org/it">UNIDEA No
		Profit</a>
</footer>
