<div class="alert alert-danger" [@slideInOut] *ngIf="error" [innerHTML]="error"></div>
<div class="alert alert-success" [@slideInOut] *ngIf="success" [innerHTML]="success"></div>
<div class="counter row">
	<div class="col-6">
		<h1>{{channels.length}}</h1>
		<p>Canali da approvare</p>
	</div>
	<div class="col-6">
		<h1>{{videos.length}}</h1>
		<p>Video da approvare</p>
	</div>
</div>
<mat-tab-group mat-align-tabs="center" (selectedTabChange)="onTabChanged($event);">
	<mat-tab label="Canali">
		<div style="overflow-x: auto">
			<mat-progress-bar color="warn" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
			<div class="alert alert-info" *ngIf="channels.length==0">Non ci sono canali da approvare</div>
			<table mat-table [dataSource]="dataSourceChannel" class="mat-elevation-z8" *ngIf="channels.length>0">

				<ng-container matColumnDef="id">
					<th mat-header-cell *matHeaderCellDef> Identificativo </th>
					<td mat-cell *matCellDef="let element">
						<button mat-button (click)="visitChannel(element.iden)"> {{element.iden}}</button></td>
				</ng-container>

				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef> Nome </th>
					<td mat-cell *matCellDef="let element"> {{element.name}} </td>
				</ng-container>

				<ng-container matColumnDef="mail">
					<th mat-header-cell *matHeaderCellDef> Contatto </th>
					<td mat-cell *matCellDef="let element"> {{element.mail}} </td>
				</ng-container>

				<ng-container matColumnDef="operation">
					<th mat-header-cell *matHeaderCellDef> Approva </th>
					<td mat-cell *matCellDef="let element">
						<button [disabled]="loading" mat-button color="primary" (click)="approveChannel(element)"> Abilita Account</button>
					</td>
				</ng-container>

				<ng-container matColumnDef="delete">
					<th mat-header-cell *matHeaderCellDef> Respingi </th>
					<td mat-cell *matCellDef="let element">
						<button [disabled]="loading" mat-button color="warn" (click)="deleteChannel(element)"> Elimina Account</button>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumnsChannel"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumnsChannel;">
				</tr>
			</table>
			<mat-paginator #paginator1 [pageSizeOptions]="[50,100,150]" showFirstLastButtons></mat-paginator>
		</div>
	</mat-tab>
	<mat-tab label="Video & Playlist">
		<div style="overflow-x: auto">
			<mat-progress-bar color="warn" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
			<div class="alert alert-info" *ngIf="videos.length==0">Non ci sono video da approvare</div>
			<table mat-table [dataSource]="dataSourceVideo" class="mat-elevation-z8" *ngIf="videos.length>0">

				<ng-container matColumnDef="id">
					<th mat-header-cell *matHeaderCellDef> #id </th>
					<td mat-cell *matCellDef="let element">
						<b>#{{element.id}}</b></td>
				</ng-container>

				<ng-container matColumnDef="iden">
					<th mat-header-cell *matHeaderCellDef> URL </th>
					<td mat-cell *matCellDef="let element">
						<button mat-button (click)="viewVideo(element)"> {{element.url}}</button></td>
				</ng-container>

				<ng-container matColumnDef="channel">
					<th mat-header-cell *matHeaderCellDef> Canale </th>
					<td mat-cell *matCellDef="let element">
						<button mat-button (click)="visitChannel(element)"> {{element.name}}</button></td>
				</ng-container>

				<ng-container matColumnDef="operation">
					<th mat-header-cell *matHeaderCellDef> Approva </th>
					<td mat-cell *matCellDef="let element">
						<button [disabled]="loading" mat-button color="primary" (click)="confirmVideo(element)"> Pubblica Video</button>
					</td>
				</ng-container>

				<ng-container matColumnDef="delete">
					<th mat-header-cell *matHeaderCellDef> Respingi </th>
					<td mat-cell *matCellDef="let element">
						<button [disabled]="loading" mat-button color="warn" (click)="deleteVideo(element)"> Elimina Video</button>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumnsVideo"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumnsVideo;">
				</tr>
			</table>
			<mat-paginator #paginator2 [pageSizeOptions]="[50,100,150]" showFirstLastButtons></mat-paginator>
		</div>
	</mat-tab>
	<mat-tab label="Utenti">
		<div class="row w-100">
			<div class="col-md-10 col-12">
				<mat-form-field appearance="fill" style="width: 100%">
					<mat-label>Cerca Utente</mat-label>
					<input matInput type="text" #searchInput (input)="search(searchInput.value)" placeholder="Inserisci Username">
	</mat-form-field>
			</div>
			<div class="col-md-2 col-12">
				<button (click)="openGuest()" mat-raised-button style="margin: 10px" color="primary">Crea Utente Ospite</button>
			</div>
		</div>
		<div style="overflow-x: auto">
			<mat-progress-bar color="warn" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
			<div class="alert alert-info" *ngIf="users.length==0">Non ci sono utenti registrati attualmente</div>
			<table mat-table [dataSource]="dataSourceUser" class="mat-elevation-z8" *ngIf="users.length>0">

				<ng-container matColumnDef="id">
					<th mat-header-cell *matHeaderCellDef> Id </th>
					<td mat-cell *matCellDef="let element">
						#{{element.id}}</td>
				</ng-container>

				<ng-container matColumnDef="username">
					<th mat-header-cell *matHeaderCellDef> Username </th>
					<td mat-cell *matCellDef="let element"> {{element.username}} </td>
				</ng-container>

				<ng-container matColumnDef="type">
					<th mat-header-cell *matHeaderCellDef> Tipologia </th>
					<td mat-cell *matCellDef="let element"> {{element.type}} </td>
				</ng-container>

				<ng-container matColumnDef="recover">
					<th mat-header-cell *matHeaderCellDef> Ripristina </th>
					<td mat-cell *matCellDef="let element">
						<button [disabled]="loading" mat-button color="primary" (click)="sendRecover(element)"> Invia Recupero</button>
					</td>
				</ng-container>

				<ng-container matColumnDef="ban">
					<th mat-header-cell *matHeaderCellDef> Sospendi </th>
					<td mat-cell *matCellDef="let element">
						<button [disabled]="loading" mat-button color="warn" (click)="ban(element, true)" *ngIf="element.active==1"> Sospendi Account</button>
						<button [disabled]="loading" mat-button color="warn" (click)="ban(element, false)" *ngIf="element.active==0"> Sblocca Account</button>
						<span style="color: gold" *ngIf="element.active==null">Account in attivazione</span>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumnsUser"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumnsUser;">
				</tr>
			</table>
			<mat-paginator #paginator3 [pageSizeOptions]="[50,100,150]" showFirstLastButtons></mat-paginator>
		</div>
	</mat-tab>
	<mat-tab label="Categorie">
		<button [disabled]="loading" mat-raised-button color="primary" (click)="editCategory(null, false)">Aggiungi Categoria</button>
		<div style="overflow-x: auto">
			<mat-progress-bar color="warn" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
			<div class="alert alert-info" *ngIf="categories.length==0">Non ci sono categorie attualmente</div>
			<table mat-table [dataSource]="dataSourceCat" class="mat-elevation-z8" *ngIf="categories.length>0">

				<ng-container matColumnDef="id">
					<th mat-header-cell *matHeaderCellDef> Id </th>
					<td mat-cell *matCellDef="let element" [style.color]="element.color">
						#{{element.id}}</td>
				</ng-container>

				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef> Nome </th>
					<td mat-cell *matCellDef="let element"> {{element.name}} </td>
				</ng-container>

				<ng-container matColumnDef="url">
					<th mat-header-cell *matHeaderCellDef> URL Immagine </th>
					<td mat-cell *matCellDef="let element"> {{element.imgUrl == null ? 'Nessuna' : element.imgUrl}}
					</td>
				</ng-container>

				<ng-container matColumnDef="edit">
					<th mat-header-cell *matHeaderCellDef> Modifica </th>
					<td mat-cell *matCellDef="let element">
						<button [disabled]="loading" mat-button color="primary" (click)="editCategory(element, true)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumnsCat"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumnsCat;">
				</tr>
			</table>
			<mat-paginator #paginator3 [pageSizeOptions]="[50,100]" showFirstLastButtons></mat-paginator>
		</div>
	</mat-tab>
</mat-tab-group>
