<div *ngIf="iden==null" [@slideInOut]>
	<div class="container">
		<h1>Contatti Assistenza</h1>
		<div style="overflow-x: auto;">
			<table>
				<tr>
					<td>
						<h2>Richieste Commerciali e assistenza attivazione account</h2>
					</td>
					<td><a href="mailto:tubestudents@edu.unidea.org">
							<h3>tubestudents@edu.unidea.org</h3>
						</a></td>
				</tr>
				<tr>
					<td>
						<h2>Assistenza tecnica e segnalazione malfunzionamenti</h2>
					</td>
					<td><a href="mailto:it@tech.unidea.org">
							<h3>it@tech.unidea.org</h3>
						</a></td>
				</tr>
				<tr>
					<td>
						<h2>Direzione Progetto</h2>
					</td>
					<td><a href="mailto:s.square@cad.unidea.org">
							<h3>s.square@cad.unidea.org</h3>
						</a></td>
				</tr>
				<tr>
					<td>
						<h2>Recapito telefonico (LUN-VEN dalle 13 alle 17)</h2>
					</td>
					<td><a href="tel:0237920698">
							<h3>02 37 920 698</h3>
						</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>
