<div *ngIf="iden==null" [@slideInOut]>
	<div class="container">
		<h1>Crea il tuo account studente!</h1>
		<h2>Step 1: Registrati alla piattaforma UNIDEA Students, ti basteranno 5 minuti!</h2>
		<button (click)="goToRegister()" class="tube-button action" type="button">Registrati</button>
		<h2>Step 2: Inserisci l'indirizzo mail registrato ad UNIDEA Students per attivare il tuo account!</h2>
		<div class="row">
			<div class="col-12" *ngIf="error" [@slideInOut]>
				<div class="error" [innerHTML]="error"></div>
			</div>
			<div class="col-md-10 col-12">
				<input type="email" [formControl]="mail" class="tube-control" placeholder="Inserisci l'indirizzo email"/>
      </div>
				<div class="col-md-2 col-12">
					<button [disabled]="mail.value==null || mail.value=='' || loading" (click)="checkExists()" class="tube-button" type="button">Crea Account</button>
				</div>
			</div>
      <mat-progress-bar color="warn" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
			<div class="success" id="success" *ngIf="done" [@slideInOut]>
				<h2>Step 3: Attendi le credenziali di accesso inviate a {{savedMail}} e accedi alla piattaforma!</h2>
				<p>Ricorda di controllare se la mail si trova nello spam. Le credenziali possono impiegare fino a 20
					minuti prima di essere ricevute!</p>
			</div>
		</div>
	</div>
