<div *ngIf="iden!=null" [@slideInOut]>
	<mat-progress-bar color="warn" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
	<div class="container text-center" *ngIf="user!=null">
		<div class="not-active" *ngIf="user.active==null" [@slideInOut]>
			<h1>Benvenuto {{user.username}}</h1>
			<h3>Attiva il tuo account impostando la tua password personale</h3>
			<mat-spinner mode="indeterminate" color="warn" *ngIf="loading" style="margin: auto"></mat-spinner>
			<form class="row" [formGroup]="pswForm" [@slideInOut] *ngIf="!loading">
				<div class="col-12" *ngIf="error" [@slideInOut]>
					<div class="error" [innerHTML]="error"></div>
				</div>
				<div class="col-12">
					<input type="password" formControlName="psw" class="tube-control" placeholder="Nuova Password">
        </div>
					<div class="col-12">
						<input type="password" formControlName="rpsw" class="tube-control" placeholder="Conferma Password">
        </div>
						<div class="col-12" [@slideInOut] *ngIf="pswForm.valid">
							<button (click)="sendPassword()" type="button" class="tube-button">Imposta Password</button>
						</div>
			</form>
		</div>
		<button (click)="admin=false" mat-raised-button color="primary"  *ngIf="admin && user.type=='A' && user.active==1">Attiva Modalità Utente</button>
		<button (click)="admin=true" mat-raised-button color="warn"  *ngIf="!admin && user.type=='A' && user.active==1">Apri Pannello Admin</button>
		<app-admin *ngIf="user.type=='A' && user.active==1 && admin" [@slideInOut]></app-admin>
		<button (click)="cpanel=false" mat-raised-button color="primary"  *ngIf="cpanel && user.type=='C' && user.active==1">Chiudi Gestionale</button>
		<button (click)="cpanel=true" mat-raised-button color="warn"  *ngIf="!cpanel && user.type=='C' && user.active==1">Apri Gestionale</button>
		<app-creatorpanel *ngIf="user.type=='C' && cpanel" [@slideInOut]></app-creatorpanel>
		<div class="main" *ngIf="user.active==1 && ((!admin && user.type=='A') || user.type!='A') && (!cpanel && user.type=='C')" [@slideInOut]>
			<div class="navbar">
				<input type="text" (keyup)="onSearch($event)" class="searchbar" placeholder="Cerca il titolo di un video o un corso">
				<ul class="results" [@slideInOut]>
					<li *ngFor="let res of results"><a [routerLink]="['/portale/v', res['id']]"
							href="javascript:void(0)">{{res['title']}}</a></li>
				</ul>
			</div>
			<div class="content">
				<h2>Oppure seleziona una categoria</h2>
				<button [routerLink]="['/portale/c', cat.id]" class="card" *ngFor="let cat of categories" [style.backgroundColor]="cat.color">
            <img [src]="cat.imgUrl" alt="category" />
						<h3>{{cat.name}}</h3>
            <h1>{{cat.cont}}</h1>
            <p>Video/Corsi</p>
					</button>
			</div>
		</div>
	</div>
</div>
