h1{
  padding: 35px;
}
#videoDesktop{
  display: block;
}
#videoMobile{
  display: none;
}
@media screen and (max-width: 600px) {
  #videoDesktop{
    display: none;
  }
  #videoMobile{
    display: block;
  }
}
